.visible {
    display: block;
}

.hidden {
    display: none;
}

@media print and (orientation: landscape) {
    .print-hide {
        display: none;
    }
}

@media print and (orientation: portrait) {
    .print-hide {
        display: none;
    }
}